$font-l:16px;
$font-m:12px;
$font-s:10px;
$border-radius:4px;

$notification-width:320px;
$notification-min-height:64px;
$notification-margin:4px;

$notification-alert-bg-color:#f00;
$notification-alert-color:#fff;
$notification-warning-bg-color: #fef5e5;
$notification-warning-color: #f99a00;
$notification-info-bg-color: #1e9f21;
$notification-info-color: #fff;
$notification-padding:8px;