.notification {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 4px;

  &.info {
    background: white;
  }
  &.warning {
    background: yellow;
  }
  &.alert {
    background: red;
  }
  &.body {
    margin: auto 0;
    flex: 1;
  }
  .message{
    margin: auto 0;
    flex: 1 1;
  }
  .close-btn{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-self: flex-start;
  }
}